<div class="constainer">
    <hr>
    <div
        class="row"
        *ngFor="let meet of meetings; let i=index" >
        <div class="col-md-6">
            <div class="card back" style="width: 457px">
                <img class="card-img-top" src="../assets/Meet.jpg" alt="Card image cap" style="max-height:250px;">
                <div class="card-body ">
                    <h2 class="card-title"> {{ meet.titre }} </h2>
                    <p class="card-text">Lieu: {{ meet.lieu }} </p>

                    <!-- Buttons -->
                    <div class="m">
                      <button
                      class="btn btn-success btm"
                      (click)="onShowDetails(i)"
                      >Details</button>
                      <button
                      class="btn btn-primary btm"
                      (click)="onLoadPage('edit'); onEditList(i)">Editer</button>
                      <button
                      class="btn btn-danger btm"
                      (click)="onDeleteMeeting(i)"
                      >Supprimer</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>

<!-- <div class="row">
        <div class="col-md-12">
            <button
                type="button"
                class="btn btn-primary"             // shit HAPPENS BUDDY
                (click)="onLoadPage('add')"
                >Ajouter un reunion</button>
        </div>
      </div> -->
</div>
