
<div class="container">
    <div class="row">
        <h2>Editer le reunion</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form>
                
                <!-- Meeting ID -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">ID du reunion</label>
                    <input type="text" #id [value]="meetToEdit.id" class="form-control" />
                </div>
                <!-- TITRE -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">Titre du reunion</label>
                    <input type="text" #titre [value]="meetToEdit.titre" class="form-control" />
                </div>
                <!-- LIEU -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">Lieu du reunion</label>
                    <input type="text" #lieu [value]="meetToEdit?.lieu" class="form-control" />
                </div>
            
                <!-- date debut -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example2">Date de debut</label>
                    <input type="Date" #dateD [value]="" class="form-control" />
                </div>
                
                <!-- date Fin -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example2">Date de fin</label>
                    <input type="Date" #dateF [value]="dateFin" class="form-control" />
                </div>
                



            <!-- Submit button -->
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="onEditList()"
                    >Editer le reunion</button>
            </form>
        </div>
    </div>
</div>
