
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <!-- 
                id:number, 
                titre: string, 
                lieu: string, 
                date_deb: number,
                date_fin: number  -->
                <!-- Meeting ID -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">ID du reunion</label>
                    <input type="text" #id id="ID" class="form-control" />
                </div>
                <!-- TITRE -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">Titre du reunion</label>
                    <input type="text" #titre id="Titre" class="form-control" />
                </div>
                <!-- LIEU -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">Lieu du reunion</label>
                    <input type="text" #lieu id="Lieu" class="form-control" />
                </div>
            
                <!-- date debut -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example2">Date de debut</label>
                    <input type="text" #dateD id="Deb" class="form-control" />
                </div>
                
                <!-- date Fin -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example2">Date de fin</label>
                    <input type="text" #dateF id="Fin" class="form-control" />
                </div>
                



            <!-- Submit button -->
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="onLoadList()"
                    >Ajouter un reunion</button>
            </form>
        </div>
    </div>
</div>
