
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-add-meeting *ngIf="loadedPage === 'add'" ></app-add-meeting>
      <app-edit-meeting *ngIf="loadedPage === 'edit'"  [meetToEdit]="meet"></app-edit-meeting>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-list-meeting (selectedPage)="onNavigate($event)" (selectedMeeting)="meet = $event"></app-list-meeting>
    </div>
    <div class="col-md-6">
      <app-details-meeting></app-details-meeting>
    </div>
  </div>
</div>

