<br>

<div class="row">
    <div class="col-xs-12">
        <img src="" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{ meetingDetail.titre }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <H3> {{ meetingDetail.lieu }} </H3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ meetingDetail.date_deb }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ meetingDetail.date_fin }}
    </div>
</div>