<br>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1> {{ selectedMeeting?.titre }} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <H3> {{ selectedMeeting?.lieu }} </H3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ selectedMeeting?.date_deb }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ selectedMeeting?.date_fin }}
        </div>
    </div>
</div>