<br>
<div class="container" *ngIf="selectedMeeting">
    <!-- <div class="row"> -->
      <div class="col-xs-12">

        <!-- < <div class="col-xs-12">
          <img src="" alt="">
        </div>
      </div>
    <div class="row" >
      <div class="col-xs-12">
            <h1> {{ selectedMeeting?.titre }} </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Lieu: {{ selectedMeeting?.lieu }} </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Date du debut: {{ selectedMeeting?.date_deb | date :'short' }} </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Date du fin: {{ selectedMeeting?.date_fin | date :'short' }} </h4>
          </div>
        -->
        <div class="card hover" >
          <div class="card-img" style="background-image:url(../assets/Meet.jpg);">
            <div class="overlay">
              <div class="overlay-content">
            <!-- <a class="hover" href="#!">View Project</a> -->
          </div>
        </div>
      </div>

      <div class="card-content">
        <a href="#!">
          <h2>{{ selectedMeeting?.titre }}</h2>
          <p><strong> Lieu:</strong> {{ selectedMeeting?.lieu }} </p>
          <p><strong> Date du debut:</strong>  {{ selectedMeeting?.date_deb | date :'dd-MM-yyyy'}} </p>
          <p><strong> Date du fin: </strong> {{ selectedMeeting?.date_fin | date :'dd-MM-yyyy' }} </p>
        </a>
      </div>
    </div>
  </div>
<!-- </div> -->

</div>
